body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: black;
    margin: 0;
}


nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    transition: background-color 0.3s;
    display: inline-block;  /* Hace que se trate como un bloque pero en una línea */
    margin-right: 10px;     /* Agrega margen a la derecha para separarlos */
}

nav a:hover {
    background-color: #e4e4e4;
}



.container {
    background-color: white;
    padding: 15px;
    max-width: 640px;
    margin: 15px auto;
    box-sizing: border-box;
    display: block; /* Añadido para asegurarse de que el contenedor no utilice grid */
    ustify-content: center; /* Alineación horizontal */
    align-items: center;     /* Alineación vertical */
}



button {
    background-color: olive;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


button:hover {
    background-color: #556b2f;  /* Un verde oliva un poco más oscuro */
}

img {
    max-width: 100%;
}

/* Estilos específicos para la página de cuidados */
.texto-cuidados {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}


.slideshow-container {
    position: relative;
    max-width: 100%; /* Asegurarse de que ocupe todo el espacio del contenedor padre */
    margin: auto;
    overflow: hidden; /* Esto es para que si las imágenes son demasiado grandes, no se desborden */
}

/* Añadir estilos para el contenedor de los puntos de navegación */
.slideshow-container + div {
    text-align: center;
    margin-top: 10px; 
}

.mySlides {
    display: none; /* Escondemos todas las diapositivas por defecto */
}

.mySlides img {
    width: 100%;
    height: auto;
}

/* Los puntos de navegación */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}
