body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        justify-content: center;
        margin-top: 10px;
    }
}

header h1 {
    color: black;
    margin: 0;
}

nav {
    display: flex;
}

@media (max-width: 768px) {
    nav a {
        margin: 5px;
    }
}

nav a:hover {
    background-color: #e4e4e4;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    padding: 15px;
    max-width: 600px;
    margin: 15px auto;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

button {
    background-color: olive;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #556b2f;  /* Un verde oliva un poco más oscuro */
}

img {
    max-width: 100%;
}

/* Estilos específicos para la página de cuidados */
.texto-cuidados {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}
